* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: 5em auto;
    border: 2px solid green;
    padding: 2em;
}


.wrapper {
    border: 2px solid blue;
    padding: 2em 4em;
    padding-left: 10em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

h2{
    margin-bottom: 2em;
}


@media screen and (max-width:800px) {
    
    .wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}

