*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
}

body{
    background-color: #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 600;
    margin-top: 1.25em;
}

p{
    color: grey;
    font-style: italic;
}

h1{
    font-weight: 600;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10em auto;
    background-color: white;
    border: none;
    padding: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

[type="text"] {
    border-left: none;
    border-top: none;
    border-right: none;
}

textarea{
    border-left: none;
    border-top: none;
    border-right: none;
}

button{
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}