@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family:'Poppins', sans-serif;
    background-color: hsl(0deg 0% 100%);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    font-size: 2.5rem;
}

img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.container-about-us{
    display: flex;
    width: 90%;
    background-color: hsl(0deg 0% 100%);
    gap: 2em;
    padding: 1em 4em;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.aside{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    flex-grow: 1;
    padding: 2em 2em; 
    background-color: hsl(0deg 0% 95.29%);
    border-left: 4px solid hsl(87.11deg 58.44% 45.29%);
}

.heading p {
    color: hsl(87.11deg 58.44% 45.29%);
    font-weight: bold;
}

.middle-section{
    text-align: center;
    color: hsl(222deg 4.72% 41.57%);
    margin: 1em 0em;
}

.footer {
    background-color: hsl(0deg 0% 94.12%);
    padding: 2em;
} 

.btn-mission {
    background-color: hsl(87.11deg 58.44% 45.29%);
    color:white;
    border: none;
    font-size: 1.6rem;
    padding: 5px 0px;
    width: 49%;
    cursor: pointer;
}
.btn-vission {
    background-color: hsl(0deg 0% 94.12%);
    color: hsl(87.11deg 58.44% 45.29%);
    border: none;
    font-size: 1.6rem;
    padding: 5px 0px;
    width: 49%;
    display: inline-block;
    cursor: pointer;
}