.container {
    display: flex;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-nonwrap{
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reversed {
    flex-wrap: wrap-reverse;
}

.last {
    order: 1;
}