body{
    background-color: lightgray;
}

h2, p {
    margin-left: 10px;
}

.container {
    display: flex;
    width: 70%;
    margin: 5em auto;
    flex-wrap: wrap;
    gap: 10px;
}

.list-item{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex: 1 0 45%; 
    border-radius: 5px;
    background-color: white;
    text-align: left;
}
.nubmer-wrapper{
    display: flex;
    position: absolute;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.list-number{
    color: white;
    font-weight: bold;
    background-color: orange;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
    width: 3em;
    height: 3em;
}

@media screen and (max-width: 800px) {
    
    h2{
        margin-top: 2em;
    }
    p {
        margin-top: 0px;
    }
}